* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.addTask {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
}

.addTask .inp {
  padding: 8px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  outline: none;
  border: none;
}

.addTask .btn {
  margin: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(230, 80, 230),
    rgb(253, 178, 191)
  );
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.addTask .btn:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(253, 178, 191),
    rgb(230, 80, 230)
  );
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  padding: 7px 20px;
  margin-left: 20px;
}

.delete-btn {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  text-align: center;
}
